#Folders Ignore
Bin/
Testing/
.vscode/
/build
/cmake-build-*

#Compiled
*.a
*.o
*.lib
*.so
*.exe
*.dll

#Eclipse
.project
.cproject
language.settings.xml

#tcl
*.tcl

#mc_dsp_wavelet-specific
denoised.txt